
<body>
    <div class="container">
         <div>
             
                <a href="javascrpit:void(0)" [routerLink]="['/admin-meni']"><h1>Pregled korisnika</h1></a><br>
                <a href="javascrpit:void(0)" [routerLink]="['/signup']"><h1>Dodaj novog korisnika</h1></a>
            <!--    <form enctype="multipart/form-data">
                    Image:<input type="file" class="form-control" accept="image/*"  (change)="onSelectFile($event)"/>
                    <button (click)="dodajSliku(image)" type="button" class="btn btn-primary">Dodaj sliku</button>                            
                 </form> ne radiii?
            -->
         </div>
    </div>
</body>
