<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <form  #userForm="ngForm" role="Form" method="post" action="" accept-charset="UTF-8">
						<div class="form-group">
                                <label for="ime">Ime</label>
                                <input type="text" class="form-control" id="ime" [(ngModel)]="user.ime" name="ime">
						</div>
                        <div class="form-group">
                                <label for="prezime">Prezime</label>
                                <input type="text" class="form-control" id="prezime" [(ngModel)]="user.prezime" name="prezime">
                        </div>
                        <div class="form-group">
                                <label for="brojIndexa">Broj indexa</label>
                                <input type="text" class="form-control" id="brojIndexa" [(ngModel)]="user.brojIndexa" name="brojIndexa">
                        </div>
                        <div class="form-group">
                                <label for="smer">Smer</label>
                                <input type="text" class="form-control" id="smer" [(ngModel)]="user.smer" name="smer">
                        </div>
                        <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" id="username" [(ngModel)]="user.username" name="username">
                        </div>
						
						<div class="form-group">
							<label for="password">Password</label>
							<input type="password" id="password" class="form-control" [(ngModel)]="user.password" name="password" placeholder="">
                        </div>
						       
<div class="form-group">
        <label for="uloga">Uloga</label>
        <select class="form-control" id="uloga" [(ngModel)]="user.uloga" name="uloga">
            <option value="ADMIN">ADMIN</option>
            <option value="USER">USER</option>
        </select>
         </div>
            
        <div class="form-group">
            <button (click)="saveUser(user, userForm)" type="button" class="btn btn-primary">Registracija</button>
        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>