<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PMFORUM</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                 <app-pitanje></app-pitanje>
            </div>
            <div class="col-md-4">
                <div class="card my-4">
                    <h5 class="card-header">Imas pitanje?</h5>
                    <div class="card-body">
                        <li><a href="javascrpit:void(0)" [routerLink]="['/novoPitanje']">Postavi pitanje</a></li>
                        <li><a href="javascrpit:void(0)" [routerLink]="['/pitanja']">Vidi sva pitanja</a></li>
                    </div>
                </div>
                <app-pretraga></app-pretraga>
                <app-kategorije></app-kategorije>
                <app-strana></app-strana>
            </div>
        </div>
    </div>
    <app-zaglavlje></app-zaglavlje>
</body>
</html>
